# Build and Release Folders
bin/
bin-debug/
bin-release/
DB/
obj/


# Other files and folders
.settings/
*.config

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

116416166.jpg

389578749.jpg

sn.txt

CRM/webserver/Api.html

CRM/webserver/mui.js

.DS_Store

CRM/.DS_Store

CRM/webserver/testapi.asmx.cs
CRM/webserver/testapi.asmx.cs
*.jpg
.svn/entries
.svn
DAL/Tools/小黄豆CRM加密解密工具.exe
*.ini
DAL/Tools/小黄豆CRM启动器.exe
说明.txt
*.gif
*.sql
UpgradeLog.htm
UpgradeLog2.htm

CRM/Cggl/*

CRM/Cggl/Sgry_Rq.aspx

CRM/Cggl/LJ_Ewm_Add.aspx
