table {
    border: solid 1px #c9d5e7;
    border-collapse:collapse;
    width: 90%;
    margin: auto;
    table-layout:fixed;
}
tr td {
    border: solid 1px #c9d5e7;
    border-collapse:collapse;
    text-align:left;
    height:100%;
}
.title {
    background: #F1F3F6;
    width: 150px;
    text-align: center;
    color: #F00;
    font: bold 16px/42px "微软雅黑","宋体";
}
.fav li {
    width: 150px;
    overflow: hidden;
    height: 27px;
    float: left;
    line-height: 27px;
    text-indent: 20px;
    font-size: 14px;
    text-align: left;
    list-style-type: none;
}
.fav a {
    color: #045780;
    text-decoration: none;
    outline: none;
    padding: 3px 24px 3px 6px!important;
    padding: 7px 32px 0 6px;
    border-radius: 3px;
    width: 150px;
}
.fav a:hover {
    color: #fff;
    background: #0D9EEC;
    font-weight: bold;
    text-decoration: none;
}