html {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
body {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
div {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
span {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
applet {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
object {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
iframe {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h1 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h2 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h3 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h4 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h5 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h6 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
p {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
blockquote {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
pre {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
a {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
abbr {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
acronym {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
address {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
big {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
cite {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
code {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
del {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
dfn {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
em {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
img {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
ins {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
kbd {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
q {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
s {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
samp {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
small {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
strike {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
strong {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
sub {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
sup {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
tt {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
var {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
b {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
u {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
i {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
center {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
dl {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
dt {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
dd {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
ol {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
ul {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
li {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
fieldset {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
form {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
label {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
legend {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
table {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
caption {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
tbody {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
tfoot {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
thead {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
tr {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
th {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
td {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
article {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
aside {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
canvas {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
details {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
embed {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
figure {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
figcaption {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
footer {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
header {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
hgroup {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
menu {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
nav {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
output {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
ruby {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
section {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
summary {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
time {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
mark {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
audio {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
video {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
select {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
table {
	border-collapse: collapse;
}
body {
	background: rgb(247, 247, 247); color: rgb(51, 51, 51); font-family: "Microsoft Yahei"; font-size: 12px; -ms-overflow-x: hidden;
}
.bodybg {
	background: url("../images/bodybg.jpg") no-repeat right 160px;
}
img {
	border: 0px currentColor; border-image: none; text-decoration: none;
}
a {
	border: 0px currentColor; border-image: none; text-decoration: none;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
a {
	transition:0.3s ease-out; color: rgb(51, 51, 51); -webkit-transition: all .3s ease-out; -moz-transition: all .3s ease-out;
}
a:hover {
	transition:0.3s ease-out; color: rgb(0, 91, 158); -webkit-transition: all .3s ease-out; -moz-transition: all .3s ease-out;
}
img {
	height: auto; max-width: 100%;
}
.web-width {
	margin: 0px auto; width: 1200px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clears {
	clear: both;
}
.for-liucheng {
	margin: 30px auto; padding: 20px 0px 0px; width: 640px; height: 50px; position: relative;
}
.liulist {
	background: rgb(204, 204, 204); width: 25%; height: 7px; float: left;
}
.liutextbox {
	left: 0px; top: 10px; width: 100%; position: absolute;
}
.liutextbox .liutext {
	width: 25%; text-align: center; float: left;
}
.liutextbox .liutext em {
	background: rgb(204, 204, 204); border-radius: 24px; width: 24px; height: 24px; text-align: center; color: rgb(255, 255, 255); line-height: 24px; font-size: 14px; font-style: normal; font-weight: bold; display: inline-block; -moz-border-radius: 24px; -webkit-border-radius: 24px;
}
.liutextbox .liutext strong {
	height: 26px; line-height: 26px; font-weight: 400; display: inline-block;
}
.liulist.for-cur {
	background: rgb(119, 184, 82);
}
.liutextbox .for-cur em {
	background: rgb(119, 184, 82);
}
.liutextbox .for-cur strong {
	color: rgb(119, 184, 82);
}
.forget-pwd {
	margin: 20px auto; width: 500px; min-height: 400px;
}
.forget-pwd input {
	background: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
.forget-pwd select {
	background: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
.forget-pwd button {
	background: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
.forget-pwd dl {
	margin-bottom: 20px;
}
.forget-pwd dt {
	width: 100px; height: 30px; text-align: right; line-height: 30px; padding-right: 10px; font-size: 14px; float: left;
}
.forget-pwd dd {
	width: 380px; height: 30px; float: left; position: relative;
}
.forget-pwd dd input {
	border: 1px solid rgb(204, 204, 204); border-image: none; width: 190px; height: 28px;
}
.forget-pwd dd select {
	border: 1px solid rgb(204, 204, 204); border-image: none; width: 190px; height: 30px;
}
.forget-pwd dd button {
	background: rgb(241, 241, 241); border: 1px solid rgb(221, 221, 221); border-image: none; width: 120px; height: 30px; text-align: center; color: rgb(102, 102, 102); line-height: 30px; font-size: 14px; cursor: pointer;
}
.forget-pwd .yanzma {
	left: 200px; top: 2px; width: 180px; height: 30px; line-height: 30px; position: absolute;
}
.subtijiao {
	padding: 0px 0px 0px 110px;
}
.subtijiao input {
	background: rgb(255, 102, 0); width: 85px; height: 32px; color: rgb(255, 255, 255); font-size: 14px; cursor: pointer;
}
.successs {
	padding: 20px 0px 60px; text-align: center;
}
.successs h3 {
	padding: 20px; color: rgb(160, 205, 78); font-size: 25px;
}
